.intro {
  display: flex;
  justify-content: space-evenly;
  margin: 256px 0;
}

.intro-message {
  border: 2px solid;
  border-color: purple;
  border-radius: 8px;
  padding: 2%;
  width: fit-content;
}

.intro-image img {
  border: 2px solid;
  border-color: purple;
  border-radius: 50%;
  width: 200px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.projects {
  border-top: 4px rgba(171, 171, 171, 0.484) solid;
  border-bottom: 4px rgba(171, 171, 171, 0.484) solid;
  padding-bottom: 80px;
}

.projects-display {
  border: purple solid 2px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.projects-display-card {
  border: solid purple 1px;
  border-radius: 2px;
  height: 400px;
  width: 400px;
  position: relative;
}

.projects-display-card-title {
  color: green;
  background-color: gold;
  border-top: purple 1px solid;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 560;
  vertical-align: middle;
  position: absolute;
  height: 16%;
  padding-top: 8%;
  width: 100%;
}

.project-display-card-background {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px); /* Adjust the blur amount as needed */
  z-index: -1;
}

#project-display-card-image-tat {
  background-image: url(../images/tip-a-trip_screenshot.png);
}

#project-display-card-image-enna {
  background-image: url(../images/enna_screenshot.png);
}

#project-display-card-image-ten-number-challenge {
  background-image: url(../images/ten-number-challenge_screenshot.png);
}

#project-display-card-image-rent-a-reptile {
  background-image: url(../images/rent-a-reptile_screenshot.png);
}

.contact {
  padding-bottom: 80px;
}
