#intro {
  display: flex;
  justify-content: space-evenly;
  margin: 256px 0;
  scroll-margin-top: 256px;
}

#intro-message {
  /* border: 2px solid; */
  /* border-color: purple; */
  /* border-radius: 8px; */
  /* color: rgb(100, 0, 100); */
  line-height: 1.5;
  /* padding: 0 2%; */
  position: relative;
  width: 68%;
}

.wave-emoji {
  animation: wave 4s infinite;
  display: inline-block;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(10deg);
  }
  2.5%,
  97.5% {
    transform: rotate(-5deg);
  }
  5%,
  95% {
    transform: rotate(10deg);
  }
  7.5%,
  92.5% {
    transform: rotate(-5deg);
  }
  10%,
  90% {
    transform: rotate(10deg);
  }
}

#intro-title {
  color: rgb(100, 0, 100);
  font-size: 36px;
  margin-bottom: 16px;
}

#intro-paragraph {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}

#intro-paragraph a {
  text-decoration: underline;
}

#intro-more-link {
  position: absolute;
  /* right: 4%; */
}

#intro-image img {
  /* border: 1px solid; */
  /* border-color: purple; */
  border-radius: 50%;
  box-shadow: rgb(100, 0, 100) 0px 1px 4px;
  width: 240px;
  height: auto;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.4s ease-in-out;
}

.modal-content {
  background-color: rgba(100, 0, 100, 0.96);
  color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ffffff;
  width: calc(100vw - 320px); /* Could be more or less, depending on screen size */
  border-radius: 4px;
}

.modal-content h1 {
  color: white;
}

.close {
  color: rgb(180, 180, 180);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 100, 0);
  text-decoration: none;
  cursor: pointer;
}

#projects {
  border-top: 4px rgba(171, 171, 171, 0.484) solid;
  padding-bottom: 80px;
  scroll-margin-top: 64px;
}

h1 {
  color: rgba(100, 0, 100, 0.96);
}

.projects-display {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  border-radius: 4px;
  /* display: flex; */
  /* justify-content: space-between; */
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.projects-display-side {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 4%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects-display-side-left {
  left: 0;
}

#projects-display-side-right {
  right: 0;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  position: relative;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: rgba(100, 0, 100);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.projects-display-card {
  border: solid black 1px;
  border-radius: 2px;
  height: 400px;
  width: 400px;
  position: relative;
  flex-shrink: 0;
  flex: 0 0 auto;
  overflow: hidden;
}

.projects-display-card-title {
  background-color: rgba(100, 0, 100, 0.9);
  border-top: black 1px solid;
  bottom: 0;
  position: absolute;
  height: 24%;
  width: 100%;
  transition: height 0.5s ease-in-out 0.6s;
}

.projects-display-card-title-heading {
  color: white;
  font-size: 24px;
  font-weight: 560;
  position: absolute;
  padding: 4% 0 0 8%;
  animation: bounce 2s ease infinite;
  text-decoration: underline;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px); /* Adjust the bounce height */
  }
}

.projects-display-card-paragraph {
  color: white;
  font-size: 14px;
  opacity: 0;
  padding: 16% 8% 0 8%;
  pointer-events: none;
  transition: opacity 0.8s ease 0.8s;
}

.projects-display-card-paragraph a {
  background-color: white;
}

.projects-display-card-chevron {
  position: absolute;
  bottom: 4%;
  left: 50%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  transition: opacity 0.8s ease;
}

.project-display-card-background {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}

#project-display-card-image-tat {
  background-image: url(../images/tip-a-trip_screenshot.png);
}

#project-display-card-image-enna {
  background-image: url(../images/enna_screenshot.png);
}

#project-display-card-image-ten-number-challenge {
  background-image: url(../images/ten-number-challenge_screenshot.png);
}

#project-display-card-image-rar {
  background-image: url(../images/rent-a-reptile_screenshot.png);
}

#contact {
  border-top: 4px rgba(171, 171, 171, 0.484) solid;
  padding-bottom: 80px;
  scroll-margin-top: 64px;
}
